
.alert-message.warning
  %a.close{:href => '#'}= 'x'
  %p
    %strong= "Hackathon in progress!"
    = "We're working hard to make something happening in the next 24 hours :). Stay tuned."

.row.show-grid
  .span6.columns
    = image_tag('ui2.png')
  .span10.columns
    .page-header{:style => "margin-top:50px;"}
      %h1
        = 'From the sky'
        %br
        %small= 'Foursquare, ARDrone, 24h, so much fun.'
    %dt= "Leave your tips on foursquare, from the sky."
      